.canvasWrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: none;
    background: #fff;
    z-index: 0;
}

.canvas{
    display: block;
    width: 100vw;
    height: 100vh;
}

.overlay{
    position: absolute;
    top: 10px;
    left: 10px;
    background:rgba(255,255,255,0.85);
    padding:6px 12px;
    border-radius:4px;
    font-size: 0.9rem;
}